@charset "UTF-8";

body {
	font-family: 'Lato', sans-serif;
	text-align: center;
	background: #f2f2f2;
	color: #0b1c26;
}

/*
form {
  width: 800px;
  margin: 8% auto;
  margin-top: 2%;
}
*/
.navbar {
	background-color: #215955;
	margin-bottom: 1.5rem;
}

.navbar-brand {
	font-weight: bold;
	color:#fff;
	margin-right: 2rem;
}

.navbar-brand img {
	height:30px;
	margin-right: .75rem;
}

.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}

.input {
  display: flex;
  align-items: center;
}

.button {
  height: 44px;
  border: none;
}

.working {
	-webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
	margin-top:.5rem;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* OLD URL DOWNLOAD
#url {
	width: 75%;
	font-family: inherit;
	letter-spacing: 1px;
	text-indent: 5%;
	border-radius: 5px 0 0 5px;
	background: #FFF;
	color: #495057;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#submit {
	width: 25%;
	height: 44px;
	background: #60a653;
	font-family: inherit;
	font-weight: bold;
	color: whitesmoke;
	letter-spacing: 1px;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	transition: background .3s ease-in-out;
}

#submit:hover {
	background: #4f8945;
}
*/

/* NEW URL DOWNLOAD */
.downloadbutton {
	padding: .5rem 3rem;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 1px;
	color: whitesmoke;
	background: #60a653;
	border-color: #60a653;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.downloadbutton:hover {
	background: #4f8945;
}
/* */



input:focus {
/*	outline: none;*/
	outline: 2px solid #60a653;
	box-shadow: 0 0 2px #60a653;
}

.other-element {
	margin-top: 40px;
}

.spinner-none { display: none; }

.error-hidden { display: none; }

::placeholder {
	color: #b5b5b5 !important;
}

.form-check {
	text-align: left;
}

.form-control:focus {
	border-color: #60a653;
	box-shadow: 0 0 0 .2rem rgba(96, 166, 83, .25);
}

h3 {
	margin-bottom: 1.5rem;
}

td {
	text-align: center;
}

td:first-child {text-align:right;}

.logo {
	width: 200px;
/*	margin-bottom: .5em; */
}








/* ------------------------- */
/*         DASHBOARD         */
/* ------------------------- */

.dashboardittem {
	margin-bottom: 2rem;
	padding: 1rem;
	background-color:#fff;
	border-radius: .5rem;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}

.dashboardittem .sitename {
	font-size: 1.5rem;
	font-weight:bold;
	margin-bottom:0;
}

.dashboardittem .siteurl {
	overflow:hidden;
	text-overflow: ellipsis;
	margin:0rem .5rem;
}

.stat p {
	font-size: 3rem;
	display: inline-block;
	}

.stat i {
	margin: .2rem;
	font-size: 2.5rem;
	line-height: 3rem;
}

.finished {
	margin-top:.5rem;
}

.details {
	margin: .5rem 0 0 0;
}

/* DASHBOARD Table */
.dashboard-table {
	border-spacing: 0;
	font-size: 1.1rem;
}

.dashboard-table td {
	vertical-align: middle;
}

.dashboard-table td:first-child {
	text-align:left;
}








/* FONT SIZES */

@media (min-width: 576px) {
    html {
        font-size:9px
    }
}

@media (min-width: 768px) {
    html {
        font-size:11px
    }
}

@media (min-width: 992px) {
    html {
        font-size:14px
    }
}

@media (min-width: 1200px) {
    html {
        font-size:14px
    }
}
 
.btn-orange-warning {
    color: #fff;
    background-color: #FF6C00;
    border-color: #FF6C00;
}
.btn-orange-warning:hover {
    color: #fff;
    background-color: #FF5900;
    border-color: #FF5900;
}
.version { 
	margin-top: 50px;
}
.version p {text-align: center;}

@media screen and (max-width: 1000px) {
/* Hide the links inside the navigation menu (except for logo/home) */
.navbar {
	display: none;
}
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: #215955;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #215940;
  color: white;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #215955;
  color: white;
}
}
@media screen and (min-width: 1000px) {
	.topnav {display: none;}
}